@font-face {
  font-weight: 400;
  font-family: "Exo 2";
  font-style: normal;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Exo 2";
  font-style: normal;
  src: url("../fonts/Exo2-Light.woff2") format("woff2"), url("../fonts/Exo2-Light.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Exo 2";
  font-style: normal;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Exo 2";
  font-style: normal;
  src: url("../fonts/Exo2-Medium.woff2") format("woff2"), url("../fonts/Exo2-Medium.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Exo 2";
  font-style: normal;
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"), url("../fonts/Exo2-SemiBold.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Gotham Pro";
  font-style: normal;
  src: url("../fonts/GothamProMedium.woff2") format("woff2"), url("../fonts/GothamProMedium.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Museo Sans";
  font-style: normal;
  src: url("../fonts/MuseoSansBold.woff2") format("woff2"), url("../fonts/MuseoSansBold.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Museo Sans";
  font-style: normal;
  src: url("../fonts/MuseoSansMedium.woff2") format("woff2"), url("../fonts/MuseoSansMedium.woff") format("woff");
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.reset {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Exo 2", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #525252;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
figure {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,
button {
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
.promo {
  width: 100%;
  min-height: 900px;
  padding-top: 30px;
  position: relative;
  background-image: url(../img/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100px;
  background-color: #fff;
}
.promo__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 250px;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.logo-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  text-transform: uppercase;
}
.logo-main span {
  display: block;
  margin-right: 5px;
  width: 121px;
  height: 44px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 5px;
  text-align: center;
  border: 2px solid #fff;
  position: relative;
}
.logo-main span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -18px;
  width: 14px;
  height: 12px;
  background-image: url(../img/logo-part.png);
  background-repeat: no-repeat;
}
.logo-main p {
  width: 80px;
  margin: 0;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}
.logo-main:hover span,
.logo-main:active span,
.logo-main:hover p,
.logo-main:active p {
  color: #fff;
}
.logo__info {
  padding-left: 57px;
  font-family: "Museo Sans", "Arial", sans-serif;
  color: #a6a6a6;
  position: relative;
  transition: ease-out 0.3s;
}
.logo__info::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 38px;
  height: 51px;
  background-image: url(../img/logo-laylay.png);
  background-repeat: no-repeat;
  transition: ease-out 0.3s;
}
.logo__info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 48px;
  width: 1px;
  height: 28px;
  background-color: #d6d6d6;
  transition: ease-out 0.3s;
}
.logo__info:hover,
.logo__info:active {
  color: #000;
  transition: ease-out 0.3s;
}
.logo__info:hover::before,
.logo__info:active::before,
.logo__info:hover::before,
.logo__info:active::before {
  background-image: url(../img/logo-laylay-black.png);
  transition: ease-out 0.3s;
}
.logo__info:hover::after,
.logo__info:active::after {
  background-color: #000;
  transition: ease-out 0.3s;
}
.logo__title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}
.logo__text {
  margin: 0;
  font-size: 9px;
  font-weight: 500;
}
.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}
.menu__link:hover,
.menu__link:active {
  color: #fff;
}
.user__phone {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.user__btn {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 38px;
  padding: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.user__btn:hover,
.user__btn:active {
  color: #fff;
  border-color: #fff;
}
.title {
  max-width: 420px;
  color: #fff;
}
.title__h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  text-shadow: 0px 0px 7.1px rgba(0, 0, 0, 0.95);
  position: relative;
}
.title__h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7.1px 2.9px rgba(0, 0, 0, 0.95);
}
.title__sub {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-shadow: 0px 0px 7.1px rgba(0, 0, 0, 0.95);
}
.consult__input {
  width: 190px;
  font-size: 12px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.consult__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 7.1px rgba(0, 0, 0, 0.95);
}
.consult__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 7.1px rgba(0, 0, 0, 0.95);
}
.consult__wrap {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 38px;
  position: relative;
}
.consult__wrap:first-child {
  margin-right: 28px;
}
.consult__wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 7.1px 2.9px rgba(0, 0, 0, 0.95);
}
.consult__btn {
  width: 218px;
  height: 36px;
  padding-left: 47px;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #fff;
  position: relative;
  transition: ease-out 0.3s;
}
.consult__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 34px;
  background-color: #fff;
  background-image: url(../img/arrow-next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  transition: ease-out 0.3s;
}
.consult__btn::after {
  content: "";
  position: absolute;
  top: 17px;
  left: -47px;
  width: 47px;
  height: 2px;
  background-color: #fff;
}
.consult__btn:hover,
.consult__btn:active {
  color: #000;
  background-color: #fff;
  transition: ease-out 0.3s;
}
.consult__btn:hover::before,
.consult__btn:active::before {
  background-image: url(../img/arrow-next-black.png);
  transition: ease-out 0.3s;
}
.about {
  position: relative;
}
.about__img {
  position: absolute;
  top: 0;
  left: calc(50% + 172px);
  width: calc(50% - 172px);
  height: 532px;
  overflow: hidden;
  border-left: 1px solid #e9e9e9;
}
.about__img img {
  display: block;
  max-width: none;
  height: 100%;
}
.about__block {
  width: 760px;
  min-height: 532px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-left: 30px;
  padding-right: 255px;
}
.about__block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 200px;
  background-color: #000;
  z-index: 5;
}
.about__aside {
  position: absolute;
  transform: rotate(90deg);
  top: 220px;
  right: -20px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  z-index: 5;
}
.h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
.h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 65px;
  height: 3px;
  background-color: #000;
}
.h2--white {
  color: #fff;
}
.h2--white::after {
  background-color: #fff;
}
.h2__sub {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
}
.design {
  width: 100%;
  color: #fff;
  position: relative;
  background-color: #000;
  background-image: url(../img/bg-black.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
.design::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 75px;
  background-color: #fff;
}
.design p {
  font-weight: 400;
}
.design__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-bottom: 75px;
}
.design__aside {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 260px;
  left: -50px;
  font-size: 14px;
  font-weight: 700;
}
.design__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  padding-left: 30px;
  padding-right: 150px;
  width: 759px;
  min-height: 790px;
  border-right: 1px solid rgba(233, 233, 233, 0.2);
}
.design__block::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 200px;
  background-color: #fff;
}
.design__img {
  display: block;
  border-left: 2px solid #fff;
}
.project {
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.project::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100%;
  background-color: #f9f9f9;
}
.project__wrap {
  padding-left: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
.project__img-large {
  display: block;
  margin-top: -75px;
}
.project__info {
  width: 400px;
  padding-top: 55px;
  padding-left: 30px;
}
.project__img-info {
  display: block;
  margin-left: -30px;
}
.project__scheme {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  padding-bottom: 23px;
}
.project__title {
  color: #000;
  font-weight: 700;
  position: relative;
}
.project__title::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 100px;
  height: 2px;
  color: #000;
  background-color: #000;
}
.project__list {
  width: 280px;
  margin: 0;
  padding: 15px;
}
.project__item {
  margin-bottom: 10px;
  font-weight: 500;
}
.project__plan {
  margin-left: 20px;
}
.project__btn {
  color: #000;
  border-color: #000;
}
.project__btn::before {
  background-color: #000;
}
.project__btn::after {
  background-color: #000;
  left: -40px;
  width: 40px;
}
.project__btn:hover,
.project__btn:active {
  color: #fff;
  background-color: #000;
  transition: ease-out 0.3s;
}
.project__btn:hover::before,
.project__btn:active::before {
  background-image: url(../img/arrow-next-white.png);
  transition: ease-out 0.3s;
}
.project__sum {
  margin-top: 45px;
  margin-bottom: 45px;
}
.project__price {
  color: #000;
  font-weight: 600;
  margin-left: 13px;
  text-transform: uppercase;
}
.project__price b {
  font-weight: 600;
  font-size: 19px;
}
.feedback {
  width: 100%;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
  background-image: url(../img/bg-consult.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feedback--faq {
  background-image: url(../img/bg-faq.jpg);
}
.feedback__wrap {
  padding-left: 30px;
}
.feedback__title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}
.feedback__text {
  font-size: 16px;
  font-weight: 400;
}
.feedback__btn {
  display: block;
}
.feedback__btn::after {
  display: none;
}
.feedback--input::after {
  box-shadow: none;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.078);
}
.footer__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 30px;
}
.footer__copyright {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #9c9c9c;
}
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}
.social__link {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  transition: ease-out 0.3s;
}
.social__link--in {
  background-image: url(../img/icon-insta.png);
}
.social__link--in:hover,
.social__link--in:active {
  background-image: url(../img/instagram-logo.png);
  transition: ease-out 0.3s;
}
.social__link--vk {
  background-image: url(../img/icon-vk.png);
}
.social__link--vk:hover,
.social__link--vk:active {
  background-image: url(../img/vkontakte-logo.png);
  transition: ease-out 0.3s;
}
.social__link--bg {
  background-image: url(../img/icon-blogger.png);
}
.social__link--bg:hover,
.social__link--bg:active {
  background-image: url(../img/blogger-logo.png);
  transition: ease-out 0.3s;
}
.social__item {
  margin-right: 15px;
}
.contacts {
  position: relative;
}
.contacts__map {
  position: absolute;
  top: 0;
  left: calc(50% - 165px);
  width: calc(50% + 165px);
  height: 636px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  min-height: 636px;
  width: 410px;
  padding-left: 30px;
  padding-right: 130px;
}
.contacts__link {
  color: #525252;
  font-style: normal;
}
.contacts__link span {
  font-weight: 600;
  color: #000;
}
.contacts__text {
  margin-top: 35px;
  margin-bottom: 35px;
}
.contacts__btn {
  padding: 0;
  color: #525252;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 2px solid #797979;
}
.contacts__btn:hover,
.contacts__btn:active {
  color: #000;
  border-color: #000;
}
.steps__block {
  max-width: 460px;
  min-height: 330px;
  padding-left: 30px;
  padding-top: 110px;
}
.steps__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  height: 165px;
  padding-left: 30px;
  position: relative;
}
.steps__list::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 98.5vw;
  height: 3px;
  background-color: #000;
  z-index: -1;
}
.steps__item {
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
  position: relative;
}
.steps__item:first-child {
  color: #e52222;
  cursor: pointer;
}
.steps__item span {
  font-size: 30px;
  color: #2f2f2f;
}
.steps__item::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 3px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}
.steps__item::after {
  content: "";
  position: absolute;
  left: 25px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #000000;
  border: 2px solid #fff;
}
.steps__item:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.steps__item:nth-child(even)::before {
  bottom: 110%;
}
.steps__item:nth-child(even)::after {
  top: -61px;
}
.steps__item:nth-child(odd)::before {
  top: 110%;
}
.steps__item:nth-child(odd)::after {
  bottom: -65px;
}
/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 45%;
  width: 26px;
  height: 72px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  background-size: 26px 41px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(../img/icon-arrow-next.svg);
  transform: rotate(180deg);
  left: 0;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url(../img/icon-arrow-next.svg);
  transform: rotate(180deg);
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url(../img/icon-arrow-next.svg);
  transform: rotate(180deg);
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/icon-arrow-next.svg);
  right: 0;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url(../img/icon-arrow-next.svg);
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url(../img/icon-arrow-next.svg);
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
.style {
  position: relative;
}
.style::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(50% - 165px);
  height: 597px;
  background-color: #f9f9f9;
  z-index: -1;
}
.style::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 94px;
  width: calc(50% - 525px);
  height: 1px;
  background-color: #e9e9e9;
}
.style__name {
  position: absolute;
  bottom: -94px;
  left: 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  width: 388px;
  height: 160px;
  margin: 0;
  padding-top: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #e9e9e9;
}
.style__name span {
  position: relative;
}
.style__name span::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 66px;
  height: 3px;
  background-color: #000000;
}
.style__img {
  display: block;
}
.style__prev,
.style__next {
  width: 65px;
  height: 65px;
  bottom: 94px;
  top: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url(../img/arrow-next-white.png);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}
.style__next {
  left: 453px;
  border-left: 1px solid rgba(255, 255, 255, 0.149);
}
.style__prev {
  left: 388px;
}
.style__wrap {
  padding: 0 30px;
  padding-top: 90px;
}
.style__wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 200px;
  background-color: #000;
  z-index: 5;
}
.style__slider {
  padding-bottom: 94px;
}
.style__aside {
  position: absolute;
  transform: rotate(90deg);
  bottom: 220px;
  right: -20px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  z-index: 5;
}
.style__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 760px;
  height: 210px;
  padding-left: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  border-right: 1px solid #e9e9e9;
  background-color: #fff;
  z-index: 5;
}
.style__title h2::after {
  display: none;
}
