.about {
  background-image: url(../img/scheme.jpg);
  background-repeat: no-repeat;
  background-size: 785px 532px;
  background-position: right top;
}

.about__block {
  width: 760px;
  min-height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 255px;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 200px;
    background-color: #000;
  }
}

.about__aside {
  position: absolute;
  transform: rotate(90deg);
  top: 220px;
  right: -20px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
}
