.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: transparent;
}

.header__wrap {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__btn {
  display: none;
  width: 46px;
  height: 46px;
  background-color: transparent;
  background-image: url(../img/mobile_menu-white.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
