.promo {
  width: 100%;
  min-height: 900px;
  padding-top: 30px;
  position: relative;
  background-image: url(../img/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100px;
    background-color: #fff;
  }
}

.promo__title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 250px;
}